docker.enabled = true
params{
	//Global parameters
	single_end=false

	//Build Bowtie2Index
  build_bowtie2index=false
  bowtie2index="./output/bowtieindex/mags_bowtieindex"
  bowtiecores=4

  //Metapop Macrodiversity
  bamfolder="prepare/bam"
  metapopcores=4
	contigs_file="contigs.fasta"
	contigs_genomebed="contigs.genome.bed"
	genes_file="genes.fasta"
	}

	env {
	    // PYTHONNOUSERSITE = 1
	    R_PROFILE_USER   = "/.Rprofile"
	    R_ENVIRON_USER   = "/.Renviron"
	}

timeline{
	  enable =true
	  file="./timeline.html"
	}

manifest{
  	name='nf_bgc'
  	author='Jose Garcia'
  	homePage="github/garciafertson/nf_BGC"
  	description="pipeline for BGC analysis on metagenomic samples"
  	mainScript="main.nf"
  	version="0.1"
	}
