//docker.enabled = true
params{
	//Global parameters
	single_end=false
	no_bacterial_mag=false

	//Build Bowtie2Index
  build_bowtie2index=false
  bowtie2index="./output/bowtieindex/mags_bowtieindex"
  bowtiecores=4
	maxcores=4

  //Macrodiversity
  bamfolder="prepare/bam"
	contigs_file="contigs.fasta"
	contigs_genomebed="contigs.genome.bed"
	genes_file="genes.fasta"
	}

	env {
	    // PYTHONNOUSERSITE = 1
	    R_PROFILE_USER   = "/.Rprofile"
	    R_ENVIRON_USER   = "/.Renviron"
	}

timeline{
	  enable =true
	  file="./timeline.html"
	}

manifest{
  	name='nf_MAGexplore'
  	author='Jose Garcia'
  	homePage="github/garciafertson/nf_MAGexplore"
  	description="relative abundance of MAG from custom database in metagenomic samples"
  	mainScript="main.nf"
  	version="0.1"
	}
